<h2 class="text-center">Novička za <%= @category.name %>
<span><%= link_to 'nazaj', { controller: 'categories', action: 'new', id: @category.primecategory_id}, class: 'btn btn-default btn-xs' %></span>
</h2>

<h3>Nova novička</h3>

<%= bootstrap_form_for @subcategory, url: { action: :create, id: @category.id} do |f| %>
	<% if @subcategory.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited
				this article from being saved:</h2>
			<ul>
				<% @subcategory.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
	<%= f.text_field :name, label: 'Ime novičke', placeholder: 'Zapišite ime novičke...' %>
	<%= f.text_area :body, label: 'Besedilo novičke',rows: 10, placeholder: 'Zapišite besedilo novičke...' %>
	</p>
	<p>
	<%= f.submit 'Ustvarite novičko' %>
	</p>

	<% if @category.subcategories.exists? %>
		<% for item in  @category.subcategories %><br>
			<% if !item.name.nil? %>
				<%= link_to item.name, edit_subcategory_path(item), class: 'btn btn-primary sub' %> 
				<%= link_to 'delete', subcategory_path(item), class: 'btn btn-default sub',
					method: :delete, data: { confirm: 'Ali si prepričan?' } %> 
			<% end %>

		<% end %>
	<% else %>
		<p>Ni še nobene novičke v tej kategoriji. Bodi car in napiši kakšno.</p>
	<% end %>
<% end %>

