<%= bootstrap_form_for @pcategory do |f| %>
  <% if @pcategory.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pcategory.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @pcategory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :name, label: 'Ime', placeholder: 'Zapišite novo kategorijo novic...' %>
  </p>
  <p class="text-center">
    <%= f.submit 'Ustvarite novo kategorijo', class: 'btn btn-lg btn-primary' %>
  </p> 
  <br>
  <h4 class='Revalia list-of-news text-center'>Vse kategorije: </h4><br>
    <% if !@pcategories.blank? %>
    <% for item in @pcategories %><br>
  <div class="text-center">
    
    <div class="primec"><%= link_to item.name, { controller: :categories, action: :new, id: item.id }, class: 'btn btn-success btn-lg' %> </div><br>
    <%= link_to 'uredi', edit_primecategory_path(item), class: 'btn btn-default btn-sm' %>
    <%= link_to 'izbriši', primecategory_path(item),
                    method: :delete, data: { confirm: 'Ali ste prepričani?' }, class: 'btn btn-default btn-sm' %> 
  </div>
    <% end %>
  <% else %>

  
  <% end %>
<% end %>
