
<h2 class="text-center">Prijavi se</h2>

<%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  
    <%= f.email_field :email, autofocus: true, placeholder: 'Vpiši svoj email...', label: 'Email'  %>

  
    <%= f.password_field :password, placeholder: 'Vpiši svoje skrivnostno geslo...', label: 'Geslo' %>

  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me, label: 'zapomni se' %> 
  <% end %>

    <%= f.submit "Prijavi se", class: 'btn btn-primary btn-lg' %>
<% end %>
<br>
<br>
<%= render "devise/shared/links" %>

