<h1>Uredi podkategorijo<span><%= link_to 'nazaj', { action: 'new', id: @category.primecategory_id }, class: 'btn btn-default btn-xs padding-left' %></span>
</h1>

<%= bootstrap_form_for @category,  url: { action: :update, id: @category.id} do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :name, label: 'Ime' %>
  </p>
  <p>
    <%= f.submit 'Shrani' %>
  </p>
<% end %>


