<h1 class="text-center"><%= @pcategory.name %>
  <span><%= link_to 'nazaj', new_primecategory_path, class: 'btn btn-default btn-xs' %></span>
</h1>

<h3>Dodaj novo podkategorijo</h3>

<%= bootstrap_form_for @category, url: { action: :create, id: @pcategory.id} do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :name, label: 'Ime', placeholder: 'Zapišite novo podkategorijo...' %>
  </p>
  <p>
    <%= f.submit 'Ustvarite podkategorijo' %>
  </p>
  
  <% if @pcategory.categories.exists? %>
  <% for item in  @pcategory.categories %><br>
    <% if !item.name.nil? %>
<%= link_to item.name, {controller: :subcategories, action: :new, id: item.id}, class: "btn btn-primary sub" %>
<%= link_to 'uredi', edit_category_path(item), class: 'btn btn-default sub' %> 
      <%= link_to 'izbriši', category_path(item), class: 'btn btn-default sub',
                      method: :delete, data: { confirm: 'Ali si prepričan?' } %> 
    <% end %>

  <% end %>
  <% else %>
    <p>V tej kategoriji ni še nobene podkategorije. Ustvari kakšno :D</p>
  <% end %>
<% end %>
